<!--
/*
 (c) Copyright 2001-2007 Hewlett-Packard Development Company, L.P.

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA

 Author: Pete Parks
*/ 
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 1 September 2005), see www.w3.org" />
  <meta http-equiv="PRAGMA" content="NO-CACHE" />
  <meta http-equiv="EXPIRES" content="Mon, 22 Jul 2002 11:12:01 GMT" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="content-type" content="text/html; charset=us-ascii" />
  <link rel="stylesheet" type="text/css" href="styles/hplip.css" />
      <script type="text/javascript" src="scripts/hplip.js"></script>
    
    <script type="text/javascript" src="scripts/xml_loader.js"></script>

<title>HP Linux Imaging and Printing (HPLIP) Installer</title>
</head>

<body onload="generateHeader();">
    
<!-- Header Div -->    
<div id="header_box" class="background_box"></div>

<!-- Body Div -->
<div class="body_content">
      
    <div id="message_title">
        <a>Please verify we have determined your Linux distribution correctly:</a>
    </div>
    
    <div id="message_body">
        <a>Is '$distro_name'&nbsp;and&nbsp;'$distro_version' your correct distribution name and version?</a>
    </div>
    
    <div id="message_footer">
    </div>
  
</div>


<!-- Buttons Div -->
<div class="button_options">
      
    <div id="quit_button" OnSelectStart='return false;' onClick='todoOnQuit("quit");' >
        <img src="../images/button1.png" width="100" height="35">
        <div id="quitHiliteText"><a>Quit</a></div>
        <div id="quitText"><a>Quit</a></div>
    </div>

    <div id="previousLeftButton" OnSelectStart='return false;' onClick='indexClickActions( "previousLeftButton", "previous");' >
        <img src="../images/button1.png" width="100" height="35">
        <div id="previousHiliteText"><a>Previous</a></div>
        <div id="previousText"><a>Previous</a></div>
    </div>

    <div id="previous_button" OnSelectStart='return false;' onClick='indexClickActions( "previous_button", "confirm_distro_controller?confirmation=0");' >
        <img src="../images/button1.png" width="100" height="35">
        <div id="noHiliteText"><a>No</a></div>
        <div id="noText"><a>No</a></div>
    </div>

    <div id="next_button" OnSelectStart='return false;' onClick='indexClickActions( "next_button", "confirm_distro_controller?confirmation=1");' >
        <img src="../images/button1.png" width="100" height="35">
        <div id="yesHiliteText"><a>Yes</a></div>
        <div id="yesText"><a>Yes</a></div>
    </div>
 </div>
 
</body>
</html>
