

<!--
/*
 (c) Copyright 2001-2007 Hewlett-Packard Development Company, L.P.

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA

 Author: Pete Parks
*/ 
-->
<html>
<head>
    
    <meta http-equiv="PRAGMA" content="NO-CACHE" />
    <meta http-equiv="EXPIRES" content="Mon, 22 Jul 2002 11:12:01 GMT" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="content-type" content="text/html; charset=us-ascii" />
    <link rel="stylesheet" type="text/css" href="styles/hplip.css" />
    <script type="text/javascript" src="scripts/hplip.js"></script>
    <script type="text/javascript" src="scripts/xml_loader.js"></script>
    <script type="text/javascript">
    <!--
    function changeCheckbox() {
        checkbox = document.getElementsByName("setupqueue")
        var statusValue = checkbox[0].checked  ? 1 : 0;
        var path = "finished_controller?setup=" + statusValue;
        setLocationRef(path);
    };
    -->
    </script>

<title>$installer_title</title>
</head>

<body onload="header = '$header_string'; 
        subheader = '$sub_header_string'; 
        generateHeader(header, subheader);">
    
<!-- Header Div -->    
<div id="header_box" class="background_box"></div>

<!-- Body Div -->
<div class="body_content">
    <div id="message_title">$finished_message_title</div>
    <div id="message_body">
        <input type="checkbox" onclick="changeCheckbox()" name="setupqueue" value="setupqueue" />$finished_checkbox
    </div>
    <div id="message_footer"></div>
</div>

<!-- Buttons Div -->
<div class="button_options">

    <div id="quit_button" OnSelectStart='return false;' onClick='indexClickActions( "quit_button", "finished_controller?setup=0");' >
        <img src="../images/button1.png" width="100" height="35">
        <div id="quitHiliteText">$quit_button</div>
        <div id="quitText">$quit_button</div>
    </div>
</div>
  
</body>
</html>
