<!--
/*
 (c) Copyright 2001-2007 Hewlett-Packard Development Company, L.P.

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA

 Author: Pete Parks
*/ 
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 1 September 2005), see www.w3.org" />

    <title>HPLIP Launcher Window</title>
    <meta http-equiv="PRAGMA" content="NO-CACHE" />
    <meta http-equiv="EXPIRES" content="Mon, 22 Jul 2002 11:12:01 GMT" />
    <link rel="stylesheet" type="text/css" href="styles/hplip.css" />
    <script type="text/javascript" src="scripts/hplip.js"></script>
    <script type="text/javascript" src="scripts/xml_loader.js"></script>
    <script type="text/javascript">
    <!--
    var win = null;
    
    window.reload = todoOnReload();
    
    function todoOnReload() {
        var width = 680;
        var height = 520;
        var x = 0.5 * (window.screen.width - width);
        var y = 0.5 * (window.screen.height - height);
        window.resizeTo(width + 2, height + 100);
        window.moveTo(x,y);
    };

    function todoOnLoad() {
        setLocationRef("welcome");
        setButtonHiliteTime("400");
        setButtonImages("../images/button1.png", "../images/button1d.png");
        generateHeader();
        if( isFireFoxBase() || isKonquerorBase() || isGaleonBased()  || isSafariBase() ) {
            
        } else {
            window.location.href = "unsupported";
        }
    };
    

    function todoOnClick(url_ref) {
        if(isKonquerorBase()) {
            indexClickActions("startButton", url_ref);
        } else {
            if(win == null) {
                win = openNewWindow(1);  // pass '1' if you don't want the toolbar.
                if(win != null) {
                    window.opener = self;
                } else {
                    indexClickActions("startButton", url_ref);
                }
            }
        }
    };
    -->
    </script>
</head>

<body onload="todoOnLoad()">
<!-- Header Div -->    
<div id="header_box" class="background_box"></div>

<!-- Body Div --> 
<div class="body_content">
    <div id="message_title">
        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To begin the installation process click the 'Start' button.</a>
    </div>

    <div id="message_body"></div>

    <div id="message_footer"></div>
</div>

<!-- Buttons Div -->
<div id="startButton" OnSelectStart='return false;' onClick='todoOnClick("welcome");'>
    <img src="../images/button1.png" width="100" height="35">
    <div id="startHiliteText"><a>Start</a></div>
    <div id="startText"><a>Start</a></div>
</div>


  
</body>
</html>
