

<!--
/*
 (c) Copyright 2001-2007 Hewlett-Packard Development Company, L.P.

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA

 Author: Pete Parks
*/ 
-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="PRAGMA" content="NO-CACHE" />
    <link rel="stylesheet" type="text/css" href="styles/hplip.css" />
    <script type="text/javascript" src="scripts/hplip.js"></script>
    <script type="text/javascript" src="scripts/misc_code.js"></script>
    <script type="text/javascript">
    <!--
    var divText = "";
    #set $l = len($missing_required_dependencies)
    var len = $l
    #for $d in $missing_required_dependencies
        divText += "$missing_required_dependencies[$d]<br/>";
    #end for
    var divID = 'notes_field';

    function todoOnLoad() {
         
         
        
        getContentText(divText, divID);
    };
    -->
    </script>

<title>$installer_title</title>
</head>

<body onload="todoOnLoad();">
<!-- Header Div -->    
<div id="header_box" class="background_box">
  <div class='header_title_class'>
    <div id='hp_blue_logo'><img src='images/hplogo.png' alt=''/></div>
    <div id='header_title'>$header_string</div>
    <div id='header_title2'>$header_string</div>
    <div id='header_subtitle'>$sub_header_string</div>
    <div id='header_subtitle2'>$sub_header_string</div>
    <div id='tux_logo'><img src='images/tux.png' alt=''/></div>
  </div>
</div>

<!-- Body Div -->
<div class="body_content">
    <div id="message_title">$install_required_message_title</div>
    <div id="message_body">
        <div id="notes_field"></div>
    </div>
    <div id="message_footer">$install_required_message_footer</div>
</div>

<!-- Buttons Div -->
<div class="button_options">
  
  <div id="previousLeftButton" OnSelectStart='return false;' onClick='indexClickActions( "previousLeftButton", "previous");' >
    <img src="../images/button1.png" width="100" height="35">
    <div id="previousHiliteText">$previous_button</div>
    <div id="previousText">$previous_button</div>
  </div>

  <div id="previous_button" OnSelectStart='return false;' onClick='indexClickActions( "previous_button", "error_required_missing");' >
    <img src="../images/button1.png" width="100" height="35">
    <div id="noHiliteText">$no_button</div>
    <div id="noText">$no_button</div>
  </div>

  <div id="next_button" OnSelectStart='return false;' onClick='indexClickActions( "next_button", "install_required_controller");' >
    <img src="../images/button1.png" width="100" height="35">
    <div id="yesHiliteText">$yes_button</div>
    <div id="yesText">$yes_button</div>
  </div>
</div>
  
</body>
</html>
