<!--
/*
 (c) Copyright 2001-2007 Hewlett-Packard Development Company, L.P.

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA

 Author: Pete Parks
*/ 
-->
<html>
<HEAD>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE" />
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT" />    
    <meta http-equiv="Content-Language" content="en-us" />
    <META http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="styles/hplip.css" />    
    <script type="text/javascript" src="scripts/hplip.js"></script>
    <script type="text/javascript" src="scripts/xml_loader.js"></script>
    <script type="text/javascript">
    <!--
    var divText = '$notes';
    var divID = 'notes_field';

    function todoOnLoad() {
        header = '$header_string'; 
        subheader = '$sub_header_string'; 
        generateHeader(header, subheader);
        getContentText(divText, divID);
    };
    -->
    </script>
<TITLE>$installer_title</TITLE>
</HEAD>
<BODY onload="todoOnLoad();">
 <!-- Header Div -->    
<div id="header_box" class="background_box"></div>

<!-- Body Div -->
<div class="body_content">
    <div id="message_title">$installation_message_title</div>
    <div id="message_body">
        <div id="notes_field"></div>
    </div>
    <div id="message_footer">
    </div>
</div>

<!-- Buttons Div -->
<div class="button_options">
    
    <div id="quit_button" OnSelectStart='return false;' onClick='todoOnQuit("quit");' >
      <img src="../images/button1.png" width="100" height="35">
      <div id="quitHiliteText">$quit_button</div>
      <div id="quitText">$quit_button</div>
    </div>
    
    <div id="previous_button" OnSelectStart='return false;' onClick='indexClickActions( "previous_button", "previous");' >
      <img src="../images/button1.png" width="100" height="35">
      <div id="previousHiliteText">$previous_button</div>
      <div id="previousText">$previous_button</div>
    </div>

    <div id="next_button" OnSelectStart='return false;' onClick='indexClickActions( "next_button", "notes_controller");' >
      <img src="../images/button1.png" width="100" height="35">
      <div id="nextHiliteText">$next_button</div>
      <div id="nextText">$next_button</div>
    </div>
</div>
    
</BODY>
</HTML>