<!--
/*
 (c) Copyright 2001-2007 Hewlett-Packard Development Company, L.P.

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA

 Author: Pete Parks
*/ 
-->
<html>
<head>
    <meta http-equiv="PRAGMA" content="NO-CACHE"/>
    <meta http-equiv="EXPIRES" content="Mon, 22 Jul 2002 11:12:01 GMT"/>    
    <meta http-equiv="Content-Language" content="en-us"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="styles/hplip.css"/>
    <script type="text/javascript" src="scripts/hplip.js"></script>
    <script type="text/javascript" src="scripts/xml_loader.js"></script>
    <script type="text/javascript">
    
    
    if(document.addEventListener){ //code for Moz  
        document.addEventListener("keyup", captureKey,false); 
    }else{ //code for IE
        document.attachEvent("onkeyup", captureKey); 
    } 
    
    function captureKey(events){ 
        if("undefined" != (typeof window.event)){  // code for IE browser 
            events = window.event;
        } 
        if("keyup" == events.type){ 
            checkKey(events.keyCode); 
            //checkKey(events.charCode); 
        } 
    }      

    function checkKey(keyID)
    {
       switch(keyID)
       {
          case 13:
            todoPassword('passwd');
            break;
       }
    }
    
    <!--
    //function setNextPath(id) {
    //    var raw_password = document.getElementsByName(id)[0].value;
    //    var path = "password_controller?passwd=" + encode64(raw_password);
    //    setLocationRef(path);
    //};
    
    function focusTextField(id) {
        document.getElementsByName(id)[0].focus();
    };

    function todoOnload(id) {
        generateHeader(id);
        focusTextField(id);
    };
    
    //onKeyUp="CaptureEnterKey('passwd');"
    //function CaptureEnterKey(id) {
    //    var num = document.event.keyCode;
    //    alert(num);
    //    if (13 == num) {
    //        todoPassword(id);
    //    }
    //} 
    
    function todoPassword(id) {
        //setNextPath(id);
        // password_controller?passwd=none
        var raw_password = document.getElementsByName(id)[0].value;
        var filename = "set_password?passwd=" + encode64(raw_password);
        var localPath = GetLocalDataFile(filename);
        var http = new XmlLoader(localPath);
        var serverResponse = http.submitLoaderRequest("POST", false);
        if(serverResponse != "True" ) {
            // We had a failure on exchanging the password
            alert("Password failed to validate!: " + serverResponse);
        } else {
            indexClickActions( "next_button", "password_controller");
        }
        
    }

    -->
    </script>

<title>$installer_title</title>
</head>
<body onload="todoOnload('passwd');">

<!-- Header Div -->    
<div id="header_box" class="background_box">
</div>

<!-- Body Div -->
<div class="body_content">
    <div id="message_title">$password_message_title</div>

    <div id="message_body">
        <div id="formpassword">
            $password_message_body<input name="passwd" value="" size="17" type="password">
        </div>
    </div>

    <div id="message_footer">$password_message_footer</div>

</div>
 
<!-- Button Div --> 
<div class="button_options">

    <div id="quit_button" OnSelectStart='return false;' onClick='todoOnQuit("quit");' >
      <img src="../images/button1.png" width="100" height="35">
      <div id="quitHiliteText">$quit_button</div>
      <div id="quitText">$quit_button</div>
    </div>

    <div id="previous_button" OnSelectStart='return false;' onClick='indexClickActions( "previous_button", "previous" );' >
      <img src="../images/button1.png" width="100" height="35">
      <div id="previousHiliteText">$previous_button</div>
      <div id="previousText">$previous_button</div>
    </div>

    <div id="next_button" OnSelectStart='return false;' onClick='todoPassword("passwd");' >
      <img src="../images/button1.png" width="100" height="35">
      <div id="nextHiliteText">$next_button</div>
      <div id="nextText">$next_button</div>
    </div>
    
</div>

</body>
</html>
