<!--
/*
 (c) Copyright 2001-2007 Hewlett-Packard Development Company, L.P.

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA

 Author: Pete Parks

*/
-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="PRAGMA" content="NO-CACHE" />
    <link rel="stylesheet" type="text/css" href="styles/hplip.css" />
    <script type="text/javascript" src="scripts/hplip.js"></script>
    <script type="text/javascript" src="scripts/misc_code.js"></script>
    <script type="text/javascript">
    <!--
    var statusValue = -1;
    var responseTextCompiled = "";
    var operationName = "";
    var operationNumber = 0;
    var repsonseTextAccumlative = ""
    var textArea = document.getElementById("scrollTextArea");

    function todoOnLoad() {
        getProgressOperationNumber();
        setUpCircular();
        document.getElementById("hiddenDiv").style.dislpay = 'none';
    };

    function setUpCircular() {
        document.getElementById("progressText").innerHTML='$progress_text';
        document.getElementById("progressBar").innerHTML="<img src='images/circular.gif' alt='progress'>";
        loopCircular();
    };

    function getProgressUpdate(filename) {
        //var localPath = GetLocalDataFile(filename);
	      var localPath = "http://localhost:8888/" +  filename
        var http = new XmlLoader(localPath);
        var responseText = http.submitLoaderRequest("POST", false);
        repsonseTextAccumlative += responseText;
        if(responseText) {
            if(isFireFoxBase() || isSafariBase()) {
                document.getElementById("scrollTextArea").innerHTML += responseText;
                //textArea.innerHTML += responseText;
                //var textArea = document.getElementById("scrollTextArea");
                //document.getElementById("scrollTextArea").childNodes[0].nodeValue = responseText;
                //document.getElementById("scrollTextArea").childNodes[0].data = responseText;
                //document.getElementById("scrollTextArea").firstChild.nodeValue = responseText;
                //document.getElementById("scrollTextArea").firstChild.data = responseText;
                
            } else {
                document.getElementById("scrollTextDiv").innerHTML = '<textarea cols="62" rows="11" wrap="off" name="scrollTextArea" id="scrollTextArea" >' + repsonseTextAccumlative + '</textarea></div>';
            }
        }
    };

    function toBottom() {
            self.scrollTo(0, 5)
    };
    
    
    function retryProgress() {
	    var localPath = "http://localhost:8888/retry_progress"
        var http = new XmlLoader(localPath);
        var serverResponse = http.submitLoaderRequest("POST", false);
    }
    
    
    function getProgressOperationNumber() {
	    var localPath = "http://localhost:8888/operation_number"
        var http = new XmlLoader(localPath);
        var serverResponse = http.submitLoaderRequest("POST", false);
        operationNumber = parseInt(serverResponse);
        if(operationNumber == 2 || operationNumber == 3) {
            var state = document.getElementById("retry_button").style.display;
            state.display = state.display? "":"hidden"; 
        }
        if(operationNumber  == 0) {
            operationName = "$profile_software_requirements";
        } else if(operationNumber  == 1) {
            operationName = "$required_dependencies";
        } else if(operationNumber  == 2) {
            operationName = "$optional_dependencies";
        } else if(operationNumber  == 3) {
            operationName = "$preparing_dependencies";
        } else if(operationNumber  == 4) {
            operationName = "$finishing_dependencies";
        } else if(operationNumber  == 5) {
            operationName = "$building_and_installing";
        } else if(operationNumber  == 6) {
            operationName = "$remove_hpoj";
        } else if(operationNumber  == 7) {
            operationName = "$remove_hplip";
        } else if(operationNumber  == 8) {
            operationName = "$restarting_cups";
        } else {
            operationName = "$unimplemented_operation";
        }
        
    };

    function getProgressStatus(filename) {
        //var localPath = GetLocalDataFile(filename);
	      var localPath = "http://localhost:8888/" +  filename
        var http = new XmlLoader(localPath);
        var serverResponse = http.submitLoaderRequest("POST", false);
        statusValue = parseInt(serverResponse);
    };

    function loopCircular() {
        getProgressStatus("progress_status");
        getProgressUpdate("progress_update");


        if( -1 == statusValue ) { // Running 
            document.getElementById("progressText").innerHTML = "$installation_progress" + operationName;
            document.getElementById("progressBar").innerHTML = "<img src='images/circular.gif' alt='progress'>";
        } else if( 0 < statusValue ) { // Done with Error
            document.getElementById("progressText").innerHTML = "$installation_progress_error";
            document.getElementById("progressBar").innerHTML = null;
            window.location.href = "error_command_failed";
            // Call the controller code here with the code positive all.
        } else if( 0 == statusValue ) {  // Done no Error
            //document.getElementById("progressText").innerHTML = "Installation Progress: Operation Completed";
            //document.getElementById("progressBar").innerHTML = null;
            //toggleLayer("hiddenDiv");
            //setTimeout("window.location.href = 'progress_controller';", 1000)
            // Call the controller code here with the code zero.
            indexClickActions( "next_button", "progress_controller");
            
        } else {
            document.getElementById("progressText").innerHTML = "$got_into_bad_state";
            document.getElementById("progressBar").innerHTML = null;
            toggleLayer("hiddenDiv");
	}

        if ( -1 == statusValue ) {
            setTimeout("loopCircular();", 200);
        }
    };
    -->
    </script>
<title>$installer_title</title>
</head>

<body onload="todoOnLoad();">

<!-- Header Div -->
<div id="header_box" class="background_box">
  <div class='header_title_class'>
    <div id='hp_blue_logo'><img src='images/hplogo.png' alt=''/></div>
    <div id='header_title'>$header_string</div>
    <div id='header_title2'>$header_string</div>
    <div id='header_subtitle'>$sub_header_string</div>
    <div id='header_subtitle2'>$sub_header_string</div>
    <div id='tux_logo'><img src='images/tux.png' alt=''/></div>
  </div>
</div>


<!-- Body Div -->
<div class="body_content">
    <div class="install_title_replacement"><div id="progressText"></div><div id="progressBar"></div></div> 

    <div id="scrollTextDiv">
        <textarea cols="62" rows="11" wrap="off" name="scrollTextArea" id="scrollTextArea" onkeyup="sTextArea.innerText=scrollTextArea.innerText"></textarea>
    </div>

    <div id="message_footer">
    </div>
</div>


<!-- Button Div -->
<div class="button_options">

    <div id="quit_button" OnSelectStart='return false;' onClick='todoOnQuit("quit");'> <!-- indexClickActions( "quit_button", "progress_cancel");' -->
        <img src="../images/button1.png" width="100" height="35" alt="" >
        <div id="cancel2HiliteText">$cancel_button</div>
        <div id="cancel2Text">$cancel_button</div>
    </div>

    <div id="retry_button" OnSelectStart='return false;' onClick='indexClickActions( "retry_button", "retry_progress");'>
      <img src="../images/button1.png" width="100" height="35">
      <div id="retryHiliteText">$retry_button</div>
      <div id="retryText">$retry_button</div>
    </div>

    <div id="hiddenDiv">
        <div id="next_button" OnSelectStart='return false;' onClick='indexClickActions( "next_button", "progress_controller");' >
          <img src="../images/button1.png" width="100" height="35">
          <div id="nextHiliteText">$next_button</div>
          <div id="nextText">$next_button</div>
        </div>
    </div>

</div>

</body>
</html>
