<!--
/*
 (c) Copyright 2001-2007 Hewlett-Packard Development Company, L.P.

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA

 Author: Pete Parks
*/ 
-->
<html>
<head>
    <META http-equiv="content-type" content="text/html; charset=utf-8">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE" />
       
    <link rel="stylesheet" type="text/css" href="styles/hplip.css" />    
    <script type="text/javascript" src="scripts/hplip.js"></script>
    <script type="text/javascript" src="scripts/misc_code.js"></script>
    <script type="text/javascript">
    <!--

    if(document.addEventListener){ 
        document.addEventListener("keyup", captureKey,false);
    }else{ 
        document.attachEvent("onkeyup", captureKey);
    }

    function captureKey(events){
        if("undefined" != (typeof window.event)){ 
            events = window.event;
        }
        if("keyup" == events.type){
            checkKey(events.keyCode);
        }
    }

    function checkKey(keyID)
    {
       switch(keyID)
       {
          case 13:
            indexClickActions( "next_button", "replug");
            break;
       }
    }
    -->
    </script>
<TITLE>$installer_title</TITLE>
</head>
<body>
 <!-- Header Div -->    
 <div id="header_box" class="background_box">
   <div class='header_title_class'>
     <div id='hp_blue_logo'><img src='images/hplogo.png' alt=''/></div>
     <div id='header_title'>$header_string</div>
     <div id='header_title2'>$header_string</div>
     <div id='header_subtitle'>$sub_header_string</div>
     <div id='header_subtitle2'>$sub_header_string</div>
     <div id='tux_logo'><img src='images/tux.png' alt=''/></div>
   </div>
 </div>

 <!-- Body Div -->
 <div class="body_content">
     <div id="message_title">$restart_message_body $restart_command $restart_message_body_bottom </div>
     <div id="message_body"></div>
     <div id="message_footer">$restart_message_footer</div>
 </div>

 <!-- Buttons Div -->
 <div class="button_options">
   
   <div id="restart_button" OnSelectStart='return false;' onClick='todoOnRestart("quit");' >
     <img src="../images/button1.png" width="100" height="35">
     <div id="restartHiliteText">$restart_button</div>
     <div id="restartText">$restart_button</div>
   </div>
   
   <div id="quit_button" OnSelectStart='return false;' onClick='todoOnQuit("quit");' >
     <img src="../images/button1.png" width="100" height="35">
     <div id="quitHiliteText">$quit_button</div>
     <div id="quitText">$quit_button</div>
   </div>

   <div id="next_button" OnSelectStart='return false;' onClick='indexClickActions( "next_button", "replug");' >
     <img src="../images/button1.png" width="100" height="35">
     <div id="replugHiliteText">$replug_button</div>
     <div id="replugText">$replug_button</div>
   </div>
   
 </div>

</body>
</html>
