option {background:#cccccc;color:navy;border-bottom:1px solid black;}
select {width:40%;font-weight:bold;}


#progressBox
{
    position:absolute;
    top:0px;
    left:-50px;
    width: 250px;
    height:80px;
    color:#black;
    font:bold;
    padding:0px;
    padding-top:5px;
}

#progressOutline
{
    position:absolute;
    top:-30px;
    left:9px;
    width:463px;
    height:186px;
    background:#FFFFFF;
    border:1px 
    solid orange;
}

#scrollTextDiv
{
    position:absolute;
    top:50px;
    left:20px;
    width:524px;
    height:226px;
    background:#FFFFFF;
    border:1px 
    solid orange;
}

#scrollTextArea
{
    position:absolute;
    top:2px;
    left:2px;
    width:520px;
    height:222px;
    background:#FFFFFF;
    border:1px 
    solid orange;
}

.install_title_replacement {
    position: absolute;
    top: 20px;
    left: 20px;
    width:  410px;
}

#progressText {
    position:absolute;
    top: -8px;
    left: 0px;
    font-family: arial, Century;
}

#progressBar
{
    position:absolute;
    top: -15px;
    left: 488px;
}


#hiddenDiv
{
    display: none;
}


.header_title_class
{
    height: 80px;
    width: 638px;
    font-weight: bold;
    font-size: 1.1em;
    padding: .15ex;
    color: Black;
    min-width: 638px;
    background:url("../images/topbar.png") repeat-x;
}
#header_title {
    position: absolute;
    top: 28px;
    left: 130px;
    width: 500px;
    font-family: "Century Schoolbook";
    font-size: 1.15em;
    font-weight: bolder;
    color: white;
    padding-right: 1em;
    vertical-align: middle;
}
#header_title2 {
    position: absolute;
    top: 29px;
    left: 131px;
    width: 500px;
    font-family: "Century Schoolbook";
    font-size: 1.15em;
    font-weight: bolder;
    color: black;
    padding-right: 1em;
    vertical-align: middle;
}

#header_subtitle {
    position: absolute;
    top: 54px;
    left: 280px;
    font-family: "Century Schoolbook";
    font-size: 1.15em;
    font-weight: bolder;
    color: white;
    padding-right: 1em;
    text-align: center;
    vertical-align: middle;
}
#header_subtitle2 {
    position: absolute;
    top: 55px;
    left: 281px;
    font-family: "Century Schoolbook";
    font-size: 1.15em;
    font-weight: bolder;
    color: black;
    padding-right: 1em;
    text-align: center;
    vertical-align: middle;
}

#tux_logo {
    position: absolute;
    top: 15px;
    left: 585px;
}


#hp_blue_logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.body_content {
    position: absolute;
    left: 50px;
    top: 120px;
    width: 560px;
    height: 290px;
    border: solid 1px orange;
    background:url("../images/view.png") repeat-x;
}

#message_title {
    position: relative;
    top: 30px;
    left: 70px;
    width:  440px;
}

#error_message_title {
    position: relative;
    top: 5px;
    left: 70px;
    width:  440px;
}

#message_body {
    position: relative;
    top: 55px;
    left: 90px;
    width: 420px;
}

#message_footer {
    position: relative;
    top: 85px;
    left: 70px;
    width: 440px;
}

#radio1 {
    position: relative;
    top: 0px;
    left: 0px;
}
#radio2 {
    position: relative;
    top: 15px;
    left: 0px;
}

.background_box {
    width: 640px;
    height: 480px;
    background-color: #cccccc;
    border: solid 2px orange;
    background:url("../images/back.png") repeat-x;
}

.button_options {
    position: absolute;
    top: 192px;
    left: 0px;
    font-weight: bold;
    font-color: orange;
}

#nextText {
    position: absolute;
    top: 9px;
    left: 33px;
    text-align: center;
    font-family: "Century Schoolbook";
}

#nextHiliteText {
    position: absolute;
    top: 8px;
    left: 32px;
    color: white;
    text-align: center;
    font-family: "Century Schoolbook";
}

#previousText {
    position: absolute;
    top: 9px;
    left: 16px;
    text-align: center;
    font-family: "Century Schoolbook";
}

#previousHiliteText {
    position: absolute;
    top: 8px;
    left: 15px;
    color: white;
    text-align: center;
    font-family: "Century Schoolbook";
}

#retryText {
    position: absolute;
    top: 9px;
    left: 22px;
    text-align: center;
    font-family: "Century Schoolbook";
}

#retryHiliteText {
    position: absolute;
    top: 8px;
    left: 21px;
    color: white;
    text-align: center;
    font-family: "Century Schoolbook";
}

#quitText {
    position: absolute;
    top: 9px;
    left: 32px;
    text-align: center;
    font-family: "Century Schoolbook";
}

#quitHiliteText {
    position: absolute;
    top: 8px;
    left: 31px;
    color: white;
    text-align: center;
    font-family: "Century Schoolbook";
}

#yesText {
    position: absolute;
    top: 9px;
    left: 37px;
    text-align: center;
    font-family: "Century Schoolbook";
}

#yesHiliteText {
    position: absolute;
    top: 8px;
    left: 36px;
    color: white;
    text-align: center;
    font-family: "Century Schoolbook";
}

#noText {
    position: absolute;
    top: 9px;
    left: 39px;
    text-align: center;
    font-family: "Century Schoolbook";
}

#noHiliteText {
    position: absolute;
    top: 8px;
    left: 38px;
    color: white;
    text-align: center;
    font-family: "Century Schoolbook";
}

#cancelText {
    position: absolute;
    top: 9px;
    left: 25px;
    text-align: center;
    font-family: "Century Schoolbook";
}

#cancelHiliteText {
    position: absolute;
    top: 8px;
    left: 24px;
    color: white;
    text-align: center;
    font-family: "Century Schoolbook";
}


#cancel2Text {
    position: absolute;
    top: 9px;
    left: 25px;
    text-align: center;
    font-family: "Century Schoolbook";
}

#cancel2HiliteText {
    position: absolute;
    top: 8px;
    left: 24px;
    color: white;
    text-align: center;
    font-family: "Century Schoolbook";
}

#startText {
    position: absolute;
    top: 7px;
    left: 29px;
    text-align: center;
    font-family: "Century Schoolbook";
}

#startHiliteText {
    position: absolute;
    top: 6px;
    left: 28px;
    color: white;
    text-align: center;
    font-family: "Century Schoolbook";
}

#quit_button {
    position: absolute;
    top: 240px;
    left: 50px;
    height: 33px;
    width: 98px;
    font-weight: bold;
    font-size: 1.0em;
    padding: .15ex;
    cursor: pointer;
} 

#previous_button {
    position: absolute;
    top: 240px;
    left: 394px;
    height: 33px;
    width: 98px;
    font-weight: bold;
    font-size: 1.0em;
    padding: .15ex;
    cursor: pointer;
}

#retry_button {
    position: absolute;
    top: 240px;
    left: 394px;
    height: 33px;
    width: 98px;
    font-weight: bold;
    font-size: 1.0em;
    padding: .15ex;
    cursor: pointer;
}

#previousLeftButton {
    position: absolute;
    top: 240px;
    left: 276px;
    height: 33px;
    width: 98px;
    font-weight: bold;
    font-size: 1.0em;
    padding: .15ex;
    cursor: pointer;
}

#next_button {
    position: absolute;
    top: 240px;
    left: 512px;
    height: 33px;
    width: 98px;
    font-weight: bold;
    font-size: 1.0em;
    padding: .15ex;
    cursor: pointer;
}

#startButton {
    position: absolute;
    top: 250px;
    left: 280px;
    height: 33px;
    width: 98px;
    font-weight: bold;
    font-size: 1.1em;
    padding: .15ex;
    cursor: pointer;
}

#notesScrollBox {
    position: relative;
    top: -20px;
    left: -60px;
}