
option {background:#cccccc;color:navy;border-bottom:1px solid black;}
select {width:40%;font-weight:bold;}


#progressBox
{
    position:absolute;
    top:0px;
    left:-50px;
    width: 250px;
    height:80px;
    color:#black;
    font:bold;
    padding:0px;
    padding-top:5px;
}

#progressOutline
{
    position:absolute;
    top:0px;
    left:-50px;
    width:350px;
    height:222px;
    background:#eeeeee;
    border:1px 
    solid black #000000;
}

.install_title_replacement {
    position: absolute;
    top: 20px;
    left: 20px;
    width:  410px;
}

#progressText {
    position:absolute;
    top: -8px;
    left: 0px;
    font-family: arial, Century;
}

#progressBar
{
    position:absolute;
    top: -18px;
    left: 488px;
}

